@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
   
}

body{
    background-color: rgb(174, 0, 255);
    font-family: 'Press Start 2P', sans-serif;
    ;
}

.heading{
   
    text-align: center;
    /* font-family: fantasy; */
    /* font-size: 50px; */
    margin-top: 50px;
    letter-spacing: 5px;
    font-weight: 100;
    
}
.heading2{
    text-align: right;
    margin-right: 10px;
    /* font-size: 20px; */
    /* font-family: fantasy; */
    margin-top: 40px;
    /* letter-spacing: 2px; */

}
.heading::before{
    content: " **";
}
.heading::after{
    content: " **";
}
#btn{
    width: 400px;
    height: 100px;
    font-size: 40px;
    border-radius: 10px;
    background: #BA8B02;  
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin-left: 33%;
    margin-top: 90px;
    border-radius: 30px;
    font-family: 'Press Start 2P', sans-serif;
    

}

#btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); 
    box-shadow: 10px 10px 10px rgb(186, 165, 165);
    
    transition: 1s ease;

}

input{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size:60px;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 50px;
    background-color: rgb(164, 121, 164);
    margin-bottom: -80px;
}
hr{
    height: 10px;
    background-color: black;
    margin-top: -17px;
    margin-bottom: 22px;
}

.head1{
    text-align: center;
    margin-top: 50px;
    /* font-family: fantasy; */
    letter-spacing: 2px
}
.head2{
    bottom: 84px;
    /* font-family: fantasy; */
    letter-spacing: 2px;
    position: absolute;
    top: 510px;
    
    right: 0px;
}
#high{
    /* font-size: 40px; */
    bottom: 84px;
    /* font-family: fantasy; */
    letter-spacing: 2px;
    position: absolute;
    top: 480px;
    right: 60px
}
#btn2{
    width: 350px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 30px;
    font-family: 'Press Start 2P', sans-serif;
}
#btn2:hover{
    cursor: pointer;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

}
@media screen and (min-width: 250px) and (max-width:500px) {
    body{
        overflow-y: hidden;
    }
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #btn{
    margin: 0px;
  }
  .heading2{
    text-align: center;
  }
  #btn{
    width: 300px;
  }
  #btn2{
    width: 300px;
    margin-top: 15px;
  }
  input {
    margin: 0;
    margin-top: 60px;
}
.head2{
    position: relative;
    top: 600px;
    text-align: center;
}
#high{
    text-align: center;
    top: 850px;
}
.head1{
    margin-top: -25px;
}
}